name: Deploy to Server

on:
  push:
    branches: [ main ]  # 只在main分支push时触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 检出代码
      - name: Checkout code
        uses: actions/checkout@main
      
      # 安装依赖并构建
      - name: Build project
        run: |
          npm install
          npm run build
      
       # 上传到腾讯云
      - name: 发布到腾讯云
        uses: easingthemes/ssh-deploy@v4.1.9
        with: 
          # 私钥
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          # SCP参数
          ARGS: '-avzr --delete'
          # 打包后要上传到云服务器的dist文件（不包含文件夹）
          SOURCE: 'dist/'
          # 服务器ip
          REMOTE_HOST: ${{ secrets.SERVER_HOST }}
          # 用户
          REMOTE_USER: ${{ secrets.SERVER_USER }}
          # dist在云服务器上的存放路径
          TARGET: '/test_server_frontend/Test-Server/dist'

      #测试 
      # 5. 重启Nginx
      # - name: Restart Nginx
      #   run: |
      #     ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "sudo nginx -s reload"